<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achieve_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{396,226}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{396,226}}</string>
                <key>sourceSize</key>
                <string>{404,240}</string>
            </dict>
            <key>achieve_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,212}}</string>
                <key>sourceSize</key>
                <string>{498,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>achievex1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e71803317ee5dcd21259ab7dd7ec78a5$</string>
            <key>textureFileName</key>
            <string>achievex1.png</string>
        </dict>
    </dict>
</plist>
