<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,46},{46,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{46,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>activity008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{54,42}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_icon.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:943843826f9a1bb3f54666dd22fd7c56$</string>
            <key>textureFileName</key>
            <string>activity_icon.png</string>
        </dict>
    </dict>
</plist>
