<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>acitivity_db.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,657},{739,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{739,51}}</string>
                <key>sourceSize</key>
                <string>{739,51}</string>
            </dict>
            <key>acitivity_db_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{429,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,51}}</string>
                <key>sourceSize</key>
                <string>{429,51}</string>
            </dict>
            <key>acitivity_hqry_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,99},{134,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
            <key>acitivity_hqry_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,99},{134,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
            <key>acitivity_hwcz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,99},{134,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
            <key>acitivity_hwcz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,99},{134,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,45}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
            <key>acitivity_qw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,174},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>acitivity_qw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,174},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>acitivity_txt_bossxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>acitivity_txt_jjxxbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{414,26}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{414,26}}</string>
                <key>sourceSize</key>
                <string>{476,26}</string>
            </dict>
            <key>acitivity_txt_jjxxbt_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,71},{621,26}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{621,26}}</string>
                <key>sourceSize</key>
                <string>{647,26}</string>
            </dict>
            <key>acitivity_txt_jyxx.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,201},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>acitivity_txt_xxbt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{474,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,26}}</string>
                <key>sourceSize</key>
                <string>{476,26}</string>
            </dict>
            <key>acitivity_txt_xxbt_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{643,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{643,26}}</string>
                <key>sourceSize</key>
                <string>{647,26}</string>
            </dict>
            <key>acitivity_txt_xyfm.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,146},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>activity_allstar_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,441},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_allstar_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,426},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_begin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_begin_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,400},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_begintask_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,400},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_begintask_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,400},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_begintask_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_begintask_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_box_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,710},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>activity_box_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,858},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>activity_box_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,710},{119,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,114}}</string>
                <key>sourceSize</key>
                <string>{119,114}</string>
            </dict>
            <key>activity_box_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,826},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>activity_box_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,513},{119,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,110}}</string>
                <key>sourceSize</key>
                <string>{119,110}</string>
            </dict>
            <key>activity_box_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,805},{164,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,140}}</string>
                <key>sourceSize</key>
                <string>{164,140}</string>
            </dict>
            <key>activity_buy_tn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,400},{79,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>activity_buy_tn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,297},{79,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>activity_buy_tn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,369},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_buy_tn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,354},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_go_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_go_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,328},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_join_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,328},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_join_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,328},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_jsrw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,297},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_jsrw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,282},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_jsrw_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,566},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_jsrw_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,563},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_jysx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,826},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_jysx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,710},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_nowfinish_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_nowfinish_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_nowfinish_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_nowfinish_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,472},{243,89}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,97}</string>
            </dict>
            <key>activity_p1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,17},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_p2.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_p3.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_p4.png</key>
            <dict>
                <key>frame</key>
                <string>{{899,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_p5.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_p6.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_refresh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,472},{81,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>activity_refresh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,472},{81,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,92}}</string>
                <key>sourceSize</key>
                <string>{83,92}</string>
            </dict>
            <key>activity_sxxj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_sxxj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>activity_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,494},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>activity_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,234},{204,61}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{204,61}}</string>
                <key>sourceSize</key>
                <string>{230,79}</string>
            </dict>
            <key>activity_txt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{92,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>activity_txt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,34},{179,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,35}}</string>
                <key>sourceSize</key>
                <string>{179,35}</string>
            </dict>
            <key>activity_txt13.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,710},{414,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{414,93}}</string>
                <key>sourceSize</key>
                <string>{416,93}</string>
            </dict>
            <key>activity_txt14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{536,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,13}}</string>
                <key>sourceSize</key>
                <string>{536,13}</string>
            </dict>
            <key>activity_txt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,2},{90,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{90,26}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>activity_txt3.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{80,24}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,24}}</string>
                <key>sourceSize</key>
                <string>{92,26}</string>
            </dict>
            <key>activity_txt4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{25,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{25,24}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>activity_txt5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{449,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,15},{449,97}}</string>
                <key>sourceSize</key>
                <string>{511,129}</string>
            </dict>
            <key>activity_txt6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{199,36}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{199,36}}</string>
                <key>sourceSize</key>
                <string>{211,44}</string>
            </dict>
            <key>activity_txt7.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,30},{201,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{201,28}}</string>
                <key>sourceSize</key>
                <string>{201,32}</string>
            </dict>
            <key>activity_txt8.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,45},{134,36}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{134,36}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
            <key>activity_txt9.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,30},{136,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{136,34}}</string>
                <key>sourceSize</key>
                <string>{156,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:943b741db043fa51e80bd0be3b1c9191$</string>
            <key>textureFileName</key>
            <string>activity.png</string>
        </dict>
    </dict>
</plist>
