<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_act_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{541,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,116}}</string>
                <key>sourceSize</key>
                <string>{541,116}</string>
            </dict>
            <key>activity_act_detail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{529,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,105}}</string>
                <key>sourceSize</key>
                <string>{529,105}</string>
            </dict>
            <key>activity_activity_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_activity_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_boss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_boss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_box_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_box_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>activity_txt11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{510,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,117}}</string>
                <key>sourceSize</key>
                <string>{510,117}</string>
            </dict>
            <key>activity_txt12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{510,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,117}}</string>
                <key>sourceSize</key>
                <string>{510,117}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activityx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:772243a51a79d8d32bc7b9a7ada411f0$</string>
            <key>textureFileName</key>
            <string>activityx1.png</string>
        </dict>
    </dict>
</plist>
