<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>all_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,310},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>all_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,310},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,80}}</string>
                <key>sourceSize</key>
                <string>{486,80}</string>
            </dict>
            <key>bag_jewelry_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,314},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_jewelry_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,166},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_robe_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,310},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_robe_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_use_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,84},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bag_use_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,162},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>other_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,84},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_goods_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,84},{77,76}}</string>
                <key>offset</key>
                <string>{-79,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{77,76}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
            <key>shop_goods_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{245,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,80}}</string>
                <key>sourceSize</key>
                <string>{245,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bagx1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4011f4698a7129f2346148d7372fd2b0$</string>
            <key>textureFileName</key>
            <string>bagx1.png</string>
        </dict>
    </dict>
</plist>
