<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bind_Djsh.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{198,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{198,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>bind_bdqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,0},{56,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{56,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>bind_djshp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,58},{114,83}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{114,83}}</string>
                <key>sourceSize</key>
                <string>{120,103}</string>
            </dict>
            <key>bind_dqzb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,0},{157,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,25}}</string>
                <key>sourceSize</key>
                <string>{157,25}</string>
            </dict>
            <key>bind_dqzb_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,58},{202,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>bind_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{30,20}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{30,20}}</string>
                <key>sourceSize</key>
                <string>{40,34}</string>
            </dict>
            <key>bind_hqbdss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,211},{169,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{169,72}</string>
            </dict>
            <key>bind_hqbdss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,165},{169,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{169,72}</string>
            </dict>
            <key>bind_hqjbss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{169,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{181,72}</string>
            </dict>
            <key>bind_hqjbss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,25},{169,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{169,70}}</string>
                <key>sourceSize</key>
                <string>{181,72}</string>
            </dict>
            <key>bind_ksbd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,421},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_ksbd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,396},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_ksjb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,375},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_ksjb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,351},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_kszh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,326},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_kszh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,305},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_lqyb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,281},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_lqyb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_qrsh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,235},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_qrsh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,186},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_zbfb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,141},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_zbfb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,116},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bind.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f27f8d9d8c87687733e9837283181863$</string>
            <key>textureFileName</key>
            <string>bind.png</string>
        </dict>
    </dict>
</plist>
