<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bind_djfb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_djfb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_djsh_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,81},{262,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,80}}</string>
                <key>sourceSize</key>
                <string>{262,80}</string>
            </dict>
            <key>bind_djsh_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{263,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,81}}</string>
                <key>sourceSize</key>
                <string>{263,81}</string>
            </dict>
            <key>bind_djsh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_djsh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_djsh_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,400},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bind_djshp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,140},{114,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{114,85}}</string>
                <key>sourceSize</key>
                <string>{120,103}</string>
            </dict>
            <key>bind_hqfbss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,70},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_hqfbss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bind_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,400},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bind_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,161},{252,58}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{252,58}}</string>
                <key>sourceSize</key>
                <string>{270,58}</string>
            </dict>
            <key>bind_zbbd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_zbbd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_zbdz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,400},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bind_zbjb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_zbjb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,0},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>bind_zh_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,146},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bindx1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:775b217ffda8b8cceec3742157e76aa8$</string>
            <key>textureFileName</key>
            <string>bindx1.png</string>
        </dict>
    </dict>
</plist>
