<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buy_del_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,422},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_del_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,352},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_eight_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,352},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_eight_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,380},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_five_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_five_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,310},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_four_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_four_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,282},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_max_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,282},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_max_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,240},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_nine_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_nine_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,212},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_one_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,212},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_one_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,170},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_seven_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_seven_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,142},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_six_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,142},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_six_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,100},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_three_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_three_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,72},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,2},{171,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,26}}</string>
                <key>sourceSize</key>
                <string>{171,26}</string>
            </dict>
            <key>buy_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,26}}</string>
                <key>sourceSize</key>
                <string>{171,26}</string>
            </dict>
            <key>buy_two_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,72},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_two_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,30},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_zero_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
            <key>buy_zero_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{125,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,68}}</string>
                <key>sourceSize</key>
                <string>{125,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buy.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f32a53338abf93864f37ae0cc6c56bc6$</string>
            <key>textureFileName</key>
            <string>buy.png</string>
        </dict>
    </dict>
</plist>
