<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,841},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>chat_bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,228},{97,55}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,55}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>chat_bubble_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,14},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>chat_bubble_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{8,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,10}}</string>
                <key>sourceSize</key>
                <string>{8,10}</string>
            </dict>
            <key>chat_express_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,627},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>chat_express_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,611},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>chat_express_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,919},{68,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{68,103}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>chat_express_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,919},{68,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{68,103}}</string>
                <key>sourceSize</key>
                <string>{76,109}</string>
            </dict>
            <key>chat_face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,841},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,58}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>chat_fj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,627},{47,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,135}}</string>
                <key>sourceSize</key>
                <string>{47,135}</string>
            </dict>
            <key>chat_fj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,769},{47,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,135}}</string>
                <key>sourceSize</key>
                <string>{47,135}</string>
            </dict>
            <key>chat_head01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,390},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chat_head02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,338},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chat_img_yy.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,68},{88,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{88,158}}</string>
                <key>sourceSize</key>
                <string>{114,172}</string>
            </dict>
            <key>chat_img_yybg.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,201},{282,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,282}}</string>
                <key>sourceSize</key>
                <string>{282,282}</string>
            </dict>
            <key>chat_ktxt_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{453,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,131}}</string>
                <key>sourceSize</key>
                <string>{453,131}</string>
            </dict>
            <key>chat_lb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{268,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,53}}</string>
                <key>sourceSize</key>
                <string>{268,57}</string>
            </dict>
            <key>chat_lbcz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,548},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_lbcz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,548},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_lbyx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,485},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_lbyx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_lbyz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_lbyz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,485},{212,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,61}}</string>
                <key>sourceSize</key>
                <string>{212,61}</string>
            </dict>
            <key>chat_long_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,279},{166,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,70}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>chat_long_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,207},{166,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,70}}</string>
                <key>sourceSize</key>
                <string>{166,72}</string>
            </dict>
            <key>chat_ls_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,632},{47,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,135}}</string>
                <key>sourceSize</key>
                <string>{47,135}</string>
            </dict>
            <key>chat_ls_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,495},{47,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,135}}</string>
                <key>sourceSize</key>
                <string>{47,135}</string>
            </dict>
            <key>chat_ml_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,769},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>chat_ml_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,769},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>chat_ml_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,656},{101,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>chat_mlite_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{412,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,29}}</string>
                <key>sourceSize</key>
                <string>{412,29}</string>
            </dict>
            <key>chat_mlite_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,431},{215,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,52}}</string>
                <key>sourceSize</key>
                <string>{215,52}</string>
            </dict>
            <key>chat_mlyy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,769},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_mlyy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,899},{102,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,69}}</string>
                <key>sourceSize</key>
                <string>{102,69}</string>
            </dict>
            <key>chat_model1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,780},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,780},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,769},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model2_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,710},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model3_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,767},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model3_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,710},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model4_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,910},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model4_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,840},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model5_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,752},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_model5_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,697},{77,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{77,70}</string>
            </dict>
            <key>chat_myml_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>chat_ok_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,769},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_ok_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,917},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_pbpd.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,645},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>chat_qingkong_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,611},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>chat_qingkong_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,611},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>chat_quqc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_quqc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,567},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_schh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,717},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>chat_schh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,717},{134,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,50}}</string>
                <key>sourceSize</key>
                <string>{134,50}</string>
            </dict>
            <key>chat_schhh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,442},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>chat_schhh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,217},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,70}</string>
            </dict>
            <key>chat_stxt_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{453,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{453,64}}</string>
                <key>sourceSize</key>
                <string>{453,64}</string>
            </dict>
            <key>chat_suona_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,495},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_suona_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,423},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,906},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>chat_tmodel1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,639},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,639},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,681},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel2_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,681},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel3_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,681},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel3_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,681},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel4_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,585},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel4_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,556},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel5_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,485},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_tmodel5_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,514},{77,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,69}}</string>
                <key>sourceSize</key>
                <string>{77,69}</string>
            </dict>
            <key>chat_triangle1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,360},{217,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,69}}</string>
                <key>sourceSize</key>
                <string>{217,71}</string>
            </dict>
            <key>chat_triangle1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,289},{217,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,69}}</string>
                <key>sourceSize</key>
                <string>{217,71}</string>
            </dict>
            <key>chat_triangle_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{231,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,61}}</string>
                <key>sourceSize</key>
                <string>{231,65}</string>
            </dict>
            <key>chat_triangle_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{231,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,61}}</string>
                <key>sourceSize</key>
                <string>{231,65}</string>
            </dict>
            <key>chat_yy_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,135},{320,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,64}</string>
            </dict>
            <key>chat_yy_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{320,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,64}}</string>
                <key>sourceSize</key>
                <string>{320,64}</string>
            </dict>
            <key>chat_yysr_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,351},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_yysr_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,135},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>chat_yysr_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,769},{66,148}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,148}}</string>
                <key>sourceSize</key>
                <string>{72,154}</string>
            </dict>
            <key>chat_yysr_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{66,148}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,148}}</string>
                <key>sourceSize</key>
                <string>{72,154}</string>
            </dict>
            <key>h_chat_ktxt_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{432,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,50}}</string>
                <key>sourceSize</key>
                <string>{432,50}</string>
            </dict>
            <key>h_chat_stxt_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,64}}</string>
                <key>sourceSize</key>
                <string>{548,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ec0734596a50f509ba597e770f158d6$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
