<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>compose_dz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,408},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_dz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_getSC_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_getSC_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,336},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{279,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,80}}</string>
                <key>sourceSize</key>
                <string>{279,80}</string>
            </dict>
            <key>compose_icon_fang.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,198},{46,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>compose_icon_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,39},{48,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{48,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>compose_icon_q.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,145},{46,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>compose_icon_que.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,92},{46,51}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,51}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>compose_jj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,316},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_jj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,137},{177,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,33}}</string>
                <key>sourceSize</key>
                <string>{177,33}</string>
            </dict>
            <key>compose_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,100},{178,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,35}}</string>
                <key>sourceSize</key>
                <string>{178,35}</string>
            </dict>
            <key>compose_nameback.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{163,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,24}}</string>
                <key>sourceSize</key>
                <string>{163,24}</string>
            </dict>
            <key>compose_que.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,172},{34,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{34,24}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>compose_scsj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,264},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_scsj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,244},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,388},{103,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{103,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>compose_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,388},{101,58}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>compose_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,121},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>compose_title_jhcl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{333,35}}</string>
                <key>offset</key>
                <string>{-105,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,35}}</string>
                <key>sourceSize</key>
                <string>{543,43}</string>
            </dict>
            <key>compose_title_mbzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,481},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>compose_title_yszb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>compose_txt_jd.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,231},{107,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{107,31}}</string>
                <key>sourceSize</key>
                <string>{107,33}</string>
            </dict>
            <key>compose_xysc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,448},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>compose_ybhc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,172},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_ybhc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_yjfr_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>compose_yjfr_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,28},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>compose.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be0d95fc7794d435e6ab72cd7295fdb$</string>
            <key>textureFileName</key>
            <string>compose.png</string>
        </dict>
    </dict>
</plist>
