<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>create_P1.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,37},{106,31}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{106,31}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>create_P2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{106,33}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{106,33}}</string>
                <key>sourceSize</key>
                <string>{118,37}</string>
            </dict>
            <key>create_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{491,145}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{491,145}}</string>
                <key>sourceSize</key>
                <string>{497,151}</string>
            </dict>
            <key>create_back_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,178},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{103,51}</string>
            </dict>
            <key>create_back_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,202},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{103,51}</string>
            </dict>
            <key>create_begin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,261},{176,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>create_begin_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,212},{176,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>create_create_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,178},{176,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>create_create_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,149},{176,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,61}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>create_delete_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,149},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{103,51}</string>
            </dict>
            <key>create_delete_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,70},{103,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,51}}</string>
                <key>sourceSize</key>
                <string>{103,51}</string>
            </dict>
            <key>create_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,326},{61,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,34}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>create_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,398},{59,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{59,34}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>create_left_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,358},{55,66}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{55,66}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>create_left_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{202,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_left_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,361},{174,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_left_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,327},{174,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_left_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,240},{174,84}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,362},{59,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{59,34}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>create_male_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,361},{85,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_man_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,326},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,326},{57,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{57,30}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>create_name_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,130},{228,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,46}}</string>
                <key>sourceSize</key>
                <string>{228,46}</string>
            </dict>
            <key>create_nd_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,410},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_nf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_no11.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,231},{86,42}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{86,42}}</string>
                <key>sourceSize</key>
                <string>{104,52}</string>
            </dict>
            <key>create_no22.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,84},{92,42}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{92,42}}</string>
                <key>sourceSize</key>
                <string>{104,52}</string>
            </dict>
            <key>create_nvd_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,341},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_nvf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,240},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_nvz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,275},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_nz_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,255},{85,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>create_random_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,430},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>create_random_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,412},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>create_right_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,362},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,66}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>create_right_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,128},{202,110}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{202,110}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_right_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{174,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_right_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,275},{174,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_right_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,241},{174,84}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{174,84}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_right_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{2,2}}</string>
                <key>offset</key>
                <string>{100,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,115},{2,2}}</string>
                <key>sourceSize</key>
                <string>{202,118}</string>
            </dict>
            <key>create_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,84},{308,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{308,44}}</string>
                <key>sourceSize</key>
                <string>{310,44}</string>
            </dict>
            <key>create_title_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,2},{408,80}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{408,80}}</string>
                <key>sourceSize</key>
                <string>{432,80}</string>
            </dict>
            <key>create_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,326},{61,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{61,34}}</string>
                <key>sourceSize</key>
                <string>{67,40}</string>
            </dict>
            <key>create_zy.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,426},{59,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{59,28}}</string>
                <key>sourceSize</key>
                <string>{67,34}</string>
            </dict>
            <key>create_zy_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,130},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4909ea922a2c77997723bdf07d3f052$</string>
            <key>textureFileName</key>
            <string>create.png</string>
        </dict>
    </dict>
</plist>
