<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_addfoe.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,326},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>friend_addfri.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,299},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>friend_apply_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,337},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_apply_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,337},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_apply_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,228},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>friend_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{540,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,116}}</string>
                <key>sourceSize</key>
                <string>{540,116}</string>
            </dict>
            <key>friend_detail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{528,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,105}}</string>
                <key>sourceSize</key>
                <string>{528,105}</string>
            </dict>
            <key>friend_dlist_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,283},{224,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,75}}</string>
                <key>sourceSize</key>
                <string>{224,75}</string>
            </dict>
            <key>friend_foe.png</key>
            <dict>
                <key>frame</key>
                <string>{{931,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>friend_foe_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,337},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_foe_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,337},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_foe_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>friend_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,340},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>friend_friend_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_friend_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,120},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>friend_friend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>friend_hqqly_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,268},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>friend_hqqly_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,227},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>friend_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,283},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>h_friend_detail_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{422,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,116}}</string>
                <key>sourceSize</key>
                <string>{422,116}</string>
            </dict>
            <key>h_friend_detail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,120},{410,106}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{410,106}}</string>
                <key>sourceSize</key>
                <string>{422,116}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8398581d2b984dc20eee87e1525820d$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
