<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>furnace_bag_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,879},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_bag_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,831},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_body_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,961},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_body_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,913},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_dh1000_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,287},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh1000_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,217},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh100_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,400},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh100_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,502},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh10_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,432},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh10_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,330},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,147},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,77},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh200_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,260},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh200_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh500_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,292},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh500_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,190},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh50_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,120},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh50_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,222},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh5_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dh5_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,82},{169,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,69}}</string>
                <key>sourceSize</key>
                <string>{169,69}</string>
            </dict>
            <key>furnace_dhxh.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,955},{99,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,28}}</string>
                <key>sourceSize</key>
                <string>{103,30}</string>
            </dict>
            <key>furnace_getjh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,760},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getjh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,842},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getjq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,771},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getjq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,771},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getks_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,884},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getks_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,825},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getls_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,927},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getls_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,856},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getlssp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,754},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getlssp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,700},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getmh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,641},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getmh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,629},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getxh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,570},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getxh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,465},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getyb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,394},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getyb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,683},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getzh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,785},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_getzh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,714},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{279,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,80}}</string>
                <key>sourceSize</key>
                <string>{279,80}</string>
            </dict>
            <key>furnace_help_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,683},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>furnace_help_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,927},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>furnace_honour_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,612},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_honour_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,558},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_honour_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,536},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_honour_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,536},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,855},{130,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,28}}</string>
                <key>sourceSize</key>
                <string>{130,28}</string>
            </dict>
            <key>furnace_jt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,955},{82,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,28}}</string>
                <key>sourceSize</key>
                <string>{84,28}</string>
            </dict>
            <key>furnace_ksdz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,499},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_ksdz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,487},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_ksqc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,428},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_ksqc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,416},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_lingshilv_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,357},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_lingshilv_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,541},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_lingshilv_cbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,712},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_lingshilv_cbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,712},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_lingshilv_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1008},{426,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,9}}</string>
                <key>sourceSize</key>
                <string>{426,9}</string>
            </dict>
            <key>furnace_lingshilv_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,817},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_lingshilv_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,708},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_lingshilv_sbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,896},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_lingshilv_sbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,896},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>furnace_mbdz_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,518},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_mbdz_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,61},{202,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{202,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>furnace_movestar_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_movestar_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,572},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_movestar_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,670},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_movestar_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,561},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_qcxj_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,371},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_qcxj_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,523},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_resolve_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,470},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_resolve_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,345},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_resolve_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,414},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_resolve_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,224},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_sdsx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,323},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_sdsx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,252},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1},{266,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,75}}</string>
                <key>sourceSize</key>
                <string>{266,75}</string>
            </dict>
            <key>furnace_splv_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,274},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_splv_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,203},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_splv_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,376},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_splv_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,267},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_strengthen_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,181},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_strengthen_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,110},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_strengthen_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,77},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_strengthen_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,229},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_suoding.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,82},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>furnace_suokai.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,82},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,22}}</string>
                <key>sourceSize</key>
                <string>{20,22}</string>
            </dict>
            <key>furnace_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{365,59}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,59}}</string>
                <key>sourceSize</key>
                <string>{407,61}</string>
            </dict>
            <key>furnace_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,1},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>furnace_txt_sjsx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,964},{183,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,25}}</string>
                <key>sourceSize</key>
                <string>{183,25}</string>
            </dict>
            <key>furnace_txt_sjsx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,964},{204,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,25}}</string>
                <key>sourceSize</key>
                <string>{204,25}</string>
            </dict>
            <key>furnace_zhuling_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,132},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_zhuling_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,61},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>furnace_zhuling_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,120},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_zhuling_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,82},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>furnace_zhuling_stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,944},{257,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,19}}</string>
                <key>sourceSize</key>
                <string>{257,19}</string>
            </dict>
            <key>h_furnace_lingshilv_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,998},{767,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{767,9}}</string>
                <key>sourceSize</key>
                <string>{767,9}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>furnace.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f1fd42e7ac239a1b368e03377a94bb0$</string>
            <key>textureFileName</key>
            <string>furnace.png</string>
        </dict>
    </dict>
</plist>
