<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,65},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,65},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>global_Allagree_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_Allagree_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,425},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_Allrefuse_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,423},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_Allrefuse_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,423},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_addchat_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,216},{91,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{91,72}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addchat_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,142},{91,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{91,72}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addchat_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,623},{91,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_addchat_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,623},{91,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{91,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_addffoe_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addffoe_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addffoe_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addffoe_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addffoe_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_addffoe_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,667},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_addffoe_btn7.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,407},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_addffoe_btn8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,403},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_addfriend_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addfriend_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,547},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_addfriend_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_addfriend_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,353},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_addfriend_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,667},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_addfriend_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,625},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_back_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,49},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>global_back_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>global_btn0.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>global_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,49},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>global_buy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,351},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_buy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,351},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_cancel_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,335},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_cancel_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,331},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_delffoe_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_delffoe_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,514},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_delfriend_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,514},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_delfriend_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,438},{93,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{93,74}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_dh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{134,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>global_dh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{134,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>global_email_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,364},{93,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{93,72}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_email_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,290},{93,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{93,72}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_email_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,623},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_email_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,623},{93,86}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_getSC_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_getSC_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,281},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_hqccl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,279},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_hqccl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,279},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_hqss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,263},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_hqss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,259},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_long_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{358,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,89}}</string>
                <key>sourceSize</key>
                <string>{358,89}</string>
            </dict>
            <key>global_long_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,755},{358,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,89}}</string>
                <key>sourceSize</key>
                <string>{358,89}</string>
            </dict>
            <key>global_lookPlayer_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{93,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{93,76}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_lookPlayer_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,547},{93,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{93,76}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>global_lookPlayer_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_lookPlayer_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,209},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_lookPlayer_btn5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,623},{93,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_lookPlayer_btn6.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,623},{93,86}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{93,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_mini_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,65},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>global_mini_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,49},{102,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{102,68}}</string>
                <key>sourceSize</key>
                <string>{120,70}</string>
            </dict>
            <key>global_nearPlayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,846},{90,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,476}}</string>
                <key>sourceSize</key>
                <string>{90,476}</string>
            </dict>
            <key>global_ok_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,207},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_ok_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,207},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_onedraw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>global_onedraw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>global_pk_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,711},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_pk_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,711},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_qwcz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,191},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_qwcz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,187},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_reward_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_reward_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,137},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_sale_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,135},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_sale_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,135},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,590},{224,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,75}}</string>
                <key>sourceSize</key>
                <string>{224,75}</string>
            </dict>
            <key>global_send_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,119},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_send_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,115},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_team_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,711},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_team_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,711},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>global_title_hback.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{677,48}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{677,48}}</string>
                <key>sourceSize</key>
                <string>{697,74}</string>
            </dict>
            <key>global_txtbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,45}}</string>
                <key>sourceSize</key>
                <string>{482,45}</string>
            </dict>
            <key>global_wx.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,711},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>global_ybsj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>global_ybsj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,65},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>goods_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,65},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>globalx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:161e7f0cac5066a2216b03218b77b848$</string>
            <key>textureFileName</key>
            <string>globalx1.png</string>
        </dict>
    </dict>
</plist>
