<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_agreeAll_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,74},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_agreeAll_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_apply_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_apply_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_build1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,464},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,351},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build3.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,238},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{497,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,128}}</string>
                <key>sourceSize</key>
                <string>{497,128}</string>
            </dict>
            <key>guild_build_bg2_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,146},{411,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,134}}</string>
                <key>sourceSize</key>
                <string>{411,134}</string>
            </dict>
            <key>guild_build_place.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,590},{175,180}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,180}}</string>
                <key>sourceSize</key>
                <string>{185,184}</string>
            </dict>
            <key>guild_build_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_build_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,804},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_donate_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{378,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,91}}</string>
                <key>sourceSize</key>
                <string>{378,91}</string>
            </dict>
            <key>guild_home_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,656},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_home_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,469},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv10.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,469},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,705},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,518},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv6.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,282},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,282},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv8.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,331},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_lv9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,331},{179,185}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{179,185}}</string>
                <key>sourceSize</key>
                <string>{189,185}</string>
            </dict>
            <key>guild_member_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_member_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_new_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_new_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,772},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_other_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,577},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_other_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,442},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_shop_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,442},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_shop_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,294},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_storehouse_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,294},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>guild_storehouse_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,146},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>h_guild_detail_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{846,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,51}}</string>
                <key>sourceSize</key>
                <string>{846,51}</string>
            </dict>
            <key>h_guild_detail_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{846,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{846,51}}</string>
                <key>sourceSize</key>
                <string>{846,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guildx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cdfe9420c34cd38c192e9f9d9404957$</string>
            <key>textureFileName</key>
            <string>guildx1.png</string>
        </dict>
    </dict>
</plist>
