<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_agree_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,948},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_agree_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,948},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_apply_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,338},{367,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,52}}</string>
                <key>sourceSize</key>
                <string>{367,58}</string>
            </dict>
            <key>guild_apply_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,58},{217,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,49}}</string>
                <key>sourceSize</key>
                <string>{217,49}</string>
            </dict>
            <key>guild_apply_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>guild_apply_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{329,49}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{329,49}}</string>
                <key>sourceSize</key>
                <string>{347,49}</string>
            </dict>
            <key>guild_build4.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,871},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build5.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,758},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build6.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,573},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>guild_build_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{517,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{517,51}}</string>
                <key>sourceSize</key>
                <string>{517,51}</string>
            </dict>
            <key>guild_build_lvbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,29},{163,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,40}}</string>
                <key>sourceSize</key>
                <string>{163,40}</string>
            </dict>
            <key>guild_build_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,392},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>guild_cancelapply_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,948},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_cancelapply_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,948},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_chai_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,93},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>guild_chai_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,32},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>guild_chaichu_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_chaichu_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,902},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_chat_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,876},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_chat_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,876},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_del_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,876},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_del_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,876},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_detail_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,520},{520,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,51}}</string>
                <key>sourceSize</key>
                <string>{520,51}</string>
            </dict>
            <key>guild_detail_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,626},{604,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,51}}</string>
                <key>sourceSize</key>
                <string>{604,51}</string>
            </dict>
            <key>guild_donateAll_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_donateAll_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,830},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_donate_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,804},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_donate_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,804},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_donate_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{203,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,25}}</string>
                <key>sourceSize</key>
                <string>{203,25}</string>
            </dict>
            <key>guild_edit_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,804},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_edit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,804},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_exit_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_exit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,758},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_expel_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,732},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_expel_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,732},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_friend_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,732},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_friend_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,732},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_grgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,70},{285,47}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{285,47}}</string>
                <key>sourceSize</key>
                <string>{297,47}</string>
            </dict>
            <key>guild_icon_ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,29},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>guild_icon_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,29},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>guild_icon_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,29},{26,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{26,34}</string>
            </dict>
            <key>guild_k1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,28},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>guild_k2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,23},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>guild_k3.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>guild_k4.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,2},{20,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{20,28}</string>
            </dict>
            <key>guild_k5.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>guild_k6.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{22,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,28}}</string>
                <key>sourceSize</key>
                <string>{22,28}</string>
            </dict>
            <key>guild_list_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,29},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>guild_list_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,573},{604,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,51}}</string>
                <key>sourceSize</key>
                <string>{604,51}</string>
            </dict>
            <key>guild_listapply_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_listapply_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,686},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_listset_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,597},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_listset_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,597},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,19}}</string>
                <key>sourceSize</key>
                <string>{182,19}</string>
            </dict>
            <key>guild_loading_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,29},{190,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,27}}</string>
                <key>sourceSize</key>
                <string>{190,27}</string>
            </dict>
            <key>guild_look_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,525},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_look_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,525},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,29},{158,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,39}}</string>
                <key>sourceSize</key>
                <string>{160,39}</string>
            </dict>
            <key>guild_lv_plbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,487},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_lv_plbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,453},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_lvup_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_lvup_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,448},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_new_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{30,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,24}}</string>
                <key>sourceSize</key>
                <string>{30,24}</string>
            </dict>
            <key>guild_new_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>guild_news_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{245,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,25}}</string>
                <key>sourceSize</key>
                <string>{245,25}</string>
            </dict>
            <key>guild_promotion_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,447},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_promotion_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,447},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_refuseAll_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,415},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_refuseAll_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,343},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_refuse_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,266},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_refuse_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,256},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>guild_set_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,2},{245,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,25}}</string>
                <key>sourceSize</key>
                <string>{245,25}</string>
            </dict>
            <key>guild_titile_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,338},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>guild_txt_rmzw.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,23},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>guild_yj_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,119},{267,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,53}}</string>
                <key>sourceSize</key>
                <string>{267,57}</string>
            </dict>
            <key>guild_zw1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,216},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,210},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw2_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,200},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw3_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,183},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw3_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,174},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw4_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,174},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw4_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,160},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw5_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw5_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,154},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw6_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,144},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw6_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,127},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw7_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,88},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw7_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,71},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw8_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>guild_zw8_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,32},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>h_guild_apply_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,239},{392,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,49}}</string>
                <key>sourceSize</key>
                <string>{392,49}</string>
            </dict>
            <key>h_guild_build_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,679},{836,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{836,51}}</string>
                <key>sourceSize</key>
                <string>{836,51}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:053d4d71d02f8485971f9b3ea8ac1abb$</string>
            <key>textureFileName</key>
            <string>guild.png</string>
        </dict>
    </dict>
</plist>
