<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horse008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,52},{152,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{152,48}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse009.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{156,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{156,48}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{222,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{222,74}}</string>
                <key>sourceSize</key>
                <string>{236,80}</string>
            </dict>
            <key>horse_getdy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>horse_getdy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>horse_goods1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,179},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>horse_goods2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,102},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>horse_j11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,372},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,416},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j13.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,367},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,323},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j18.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,318},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j19.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,274},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_j20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{143,47}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{143,47}}</string>
                <key>sourceSize</key>
                <string>{147,55}</string>
            </dict>
            <key>horse_jh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,220},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_jh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,166},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_jj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,112},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>horse_ybjh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,174},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>horse_ybjh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>horse_ybxl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,102},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>horse_ybxl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>horsex1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2915c8a7971b5bd5f87ef48bda43a214$</string>
            <key>textureFileName</key>
            <string>horsex1.png</string>
        </dict>
    </dict>
</plist>
