<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>horse001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{146,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{152,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,364},{150,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse004.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,206},{146,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{146,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{150,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{148,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{148,48}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,258},{138,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{138,50}}</string>
                <key>sourceSize</key>
                <string>{160,50}</string>
            </dict>
            <key>horse_goods3.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,418},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>horse_goods4.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,283},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>horse_goods5.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,206},{76,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,75}}</string>
                <key>sourceSize</key>
                <string>{76,75}</string>
            </dict>
            <key>horse_j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,86},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,81},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,81},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,44},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,44},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j6.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,39},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,39},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_j9.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{100,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,40}}</string>
                <key>sourceSize</key>
                <string>{100,40}</string>
            </dict>
            <key>horse_jd_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{177,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,35}}</string>
                <key>sourceSize</key>
                <string>{177,35}</string>
            </dict>
            <key>horse_jd_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{376,37}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{376,37}}</string>
                <key>sourceSize</key>
                <string>{388,43}</string>
            </dict>
            <key>horse_jd_back2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{376,37}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{376,37}}</string>
                <key>sourceSize</key>
                <string>{388,43}</string>
            </dict>
            <key>horse_jd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,86},{81,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{81,60}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>horse_jd_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{63,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,33}}</string>
                <key>sourceSize</key>
                <string>{63,35}</string>
            </dict>
            <key>horse_jj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,418},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_py_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,416},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_py_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_sm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,364},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_sm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,310},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_tx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,310},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_tx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,256},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_xm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,202},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_xm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,148},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>horse_zqzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>horse.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4401a12c0b563103e6b5b80834d847d1$</string>
            <key>textureFileName</key>
            <string>horse.png</string>
        </dict>
    </dict>
</plist>
