<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b10601.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,325},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10602.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,342},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10603.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,286},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10604.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,269},{60,54}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10605.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,213},{62,54}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{62,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10606.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,381},{60,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{60,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b10701.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,202},{58,58}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b11307.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,266},{64,54}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{64,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b60005.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,262},{52,60}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>b60015.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,202},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>g_icon_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,538},{135,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,83}}</string>
                <key>sourceSize</key>
                <string>{135,83}</string>
            </dict>
            <key>g_icon_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{129,83}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,83}}</string>
                <key>sourceSize</key>
                <string>{135,83}</string>
            </dict>
            <key>wq21010.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,577},{134,99}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,72},{134,99}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21020.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,536},{146,97}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,65},{146,97}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21030.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,99},{108,101}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,72},{108,101}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21040.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,491},{148,103}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,76},{148,103}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21120.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,324},{136,109}}</string>
                <key>offset</key>
                <string>{-5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,71},{136,109}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{162,117}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,50},{162,117}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21140.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,435},{150,99}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,72},{150,99}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21150.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{152,105}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,75},{152,105}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21160.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{114,95}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,76},{114,95}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21170.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,435},{158,119}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,61},{158,119}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21210.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,431},{158,105}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,80},{158,105}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21220.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,316},{166,113}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,73},{166,113}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21230.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,397},{164,91}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,71},{164,91}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21240.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{164,97}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,69},{164,97}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21250.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,213},{188,101}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,66},{188,101}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21260.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{194,81}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,82},{194,81}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21270.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,311},{188,93}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,71},{188,93}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21280.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,149},{204,135}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,53},{204,135}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21320.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,85},{192,105}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,60},{192,105}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21340.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,406},{160,83}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,80},{160,83}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21350.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,192},{190,117}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,63},{190,117}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21360.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,286},{168,109}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,69},{168,109}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21370.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,490},{154,85}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,66},{154,85}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21480.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{202,115}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,63},{202,115}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq21680.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{234,145}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{234,145}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq60005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,211}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{234,211}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
            <key>wq60015.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{230,209}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{230,209}}</string>
                <key>sourceSize</key>
                <string>{242,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>iconx2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b66bedcd683c17c5555cacc4af5a4ac5$</string>
            <key>textureFileName</key>
            <string>iconx2.png</string>
        </dict>
    </dict>
</plist>
