<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kb_begin_atk_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{376,145}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{376,145}}</string>
                <key>sourceSize</key>
                <string>{406,209}</string>
            </dict>
            <key>kb_begin_contend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{376,145}}</string>
                <key>offset</key>
                <string>{-7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{376,145}}</string>
                <key>sourceSize</key>
                <string>{406,209}</string>
            </dict>
            <key>kb_end_atk_def.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,149},{376,113}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{376,113}}</string>
                <key>sourceSize</key>
                <string>{406,209}</string>
            </dict>
            <key>kb_end_contend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{376,117}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,28},{376,117}}</string>
                <key>sourceSize</key>
                <string>{406,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9f941249937c9bbf309824d758965de$</string>
            <key>textureFileName</key>
            <string>kb.png</string>
        </dict>
    </dict>
</plist>
