<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>function_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,811},{79,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{79,85}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>h_main_chat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,636},{270,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,86}}</string>
                <key>sourceSize</key>
                <string>{270,86}</string>
            </dict>
            <key>h_main_pkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{940,100}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{940,100}}</string>
                <key>sourceSize</key>
                <string>{960,128}</string>
            </dict>
            <key>h_top_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{940,86}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{940,86}}</string>
                <key>sourceSize</key>
                <string>{960,128}</string>
            </dict>
            <key>knapsack_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,725},{79,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{79,87}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>knapsack_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,724},{100,85}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{100,85}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_begin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,733},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>main_begin_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,850},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>main_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,933},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,88}}</string>
                <key>sourceSize</key>
                <string>{103,88}</string>
            </dict>
            <key>main_boshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,632},{99,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,99}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>main_chat_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{510,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,68}}</string>
                <key>sourceSize</key>
                <string>{510,68}</string>
            </dict>
            <key>main_dhry_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,879},{100,87}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{100,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_dhry_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,547},{100,87}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{100,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_dqjd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{325,136}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{325,136}}</string>
                <key>sourceSize</key>
                <string>{333,146}</string>
            </dict>
            <key>main_fcsl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,547},{98,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{98,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_fcsl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,547},{98,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{98,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_fightSelect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{267,115}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{267,115}}</string>
                <key>sourceSize</key>
                <string>{267,125}</string>
            </dict>
            <key>main_figset_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,636},{98,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{98,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_figset_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,735},{98,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{98,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_furnace_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,787},{65,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{65,97}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>main_furnace_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,688},{79,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>main_gjs2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,749},{67,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,100}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_gjs2_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{67,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,100}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_gjs3_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,749},{67,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,100}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_gjs3_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,91},{67,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,100}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_gjs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,588},{67,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,98}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_gjs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,588},{67,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,98}}</string>
                <key>sourceSize</key>
                <string>{67,104}</string>
            </dict>
            <key>main_pickUp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,814},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>main_pickUp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,913},{86,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>main_pkSelect_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,428},{504,117}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{504,117}}</string>
                <key>sourceSize</key>
                <string>{504,125}</string>
            </dict>
            <key>main_pkbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{640,114}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,114}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
            <key>main_quit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,547},{96,87}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{96,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_qwck_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,646},{100,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{100,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_qwsd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,811},{98,85}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{98,85}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_skill_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,787},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>main_txt_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,193},{374,233}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{374,233}}</string>
                <key>sourceSize</key>
                <string>{384,257}</string>
            </dict>
            <key>main_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,494},{119,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{119,92}}</string>
                <key>sourceSize</key>
                <string>{125,94}</string>
            </dict>
            <key>main_yaop_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,902},{98,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{98,85}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_yd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,724},{102,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{102,85}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_zidong_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,749},{100,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{100,99}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_zidong_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,850},{100,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{100,99}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_zidong_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,749},{100,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{100,99}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>main_zidong_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,851},{100,99}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{100,99}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>role_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,547},{65,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{65,97}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>role_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,834},{79,97}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{79,97}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>rolen_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,886},{79,91}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{79,91}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>shop_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{77,87}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{77,87}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>shop_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,824},{79,87}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{79,87}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>top_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{640,114}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,114}}</string>
                <key>sourceSize</key>
                <string>{640,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mainx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c96574545e9a1fa724ed09d756990b1$</string>
            <key>textureFileName</key>
            <string>mainx1.png</string>
        </dict>
    </dict>
</plist>
