<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_mandate_exit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,64},{139,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,60}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
            <key>btn_mandate_exit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{139,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,60}}</string>
                <key>sourceSize</key>
                <string>{139,60}</string>
            </dict>
            <key>img_mandate_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>mandate_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,126},{86,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>mandate_ksgj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,57},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>mandate_ksgj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mandate.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:806301c459a2a9eaf15685eaeefe22f0$</string>
            <key>textureFileName</key>
            <string>mandate.png</string>
        </dict>
    </dict>
</plist>
