<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>momo_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{181,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,35}}</string>
                <key>sourceSize</key>
                <string>{181,35}</string>
            </dict>
            <key>momo_dc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_dc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,347},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{271,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,53}}</string>
                <key>sourceSize</key>
                <string>{271,57}</string>
            </dict>
            <key>momo_fx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,90},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>momo_fx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>momo_gr1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,48},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_gr2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,46},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_gr3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,347},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_gr4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_gxrb.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,147},{199,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,54}}</string>
                <key>sourceSize</key>
                <string>{199,56}</string>
            </dict>
            <key>momo_kf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,419},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>momo_kf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,419},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>momo_lyb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,46},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_lyb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_lyb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,275},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_lyb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,275},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_mmb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,419},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>momo_mmb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,419},{87,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,86}}</string>
                <key>sourceSize</key>
                <string>{107,86}</string>
            </dict>
            <key>momo_qz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_qz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{114,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,42}}</string>
                <key>sourceSize</key>
                <string>{114,42}</string>
            </dict>
            <key>momo_qz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_qz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,203},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_tj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,203},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_tj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>momo_wz.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{33,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,44}}</string>
                <key>sourceSize</key>
                <string>{37,46}</string>
            </dict>
            <key>momo_yjfh.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,92},{271,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,53}}</string>
                <key>sourceSize</key>
                <string>{271,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>momo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08d3e8eaf333e7a7d51a1f064f3a861b$</string>
            <key>textureFileName</key>
            <string>momo.png</string>
        </dict>
    </dict>
</plist>
