<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>new_bdkfdh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,229},{158,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,70}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>new_bdkfdh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{158,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{158,70}}</string>
                <key>sourceSize</key>
                <string>{158,72}</string>
            </dict>
            <key>new_hdcyx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_hdcyx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,114},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_help_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>new_help_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>new_lqlw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>new_lqlw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>new_lxgj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,107},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_lxgj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_qxlj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,373},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_tsgl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,58},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_tsgl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,51},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_tszdl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_tszdl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>new_wqcz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,170},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>new_wqcz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,170},{155,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,57}}</string>
                <key>sourceSize</key>
                <string>{155,57}</string>
            </dict>
            <key>new_xyj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,373},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_xyj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_yjsj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,301},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_yjsj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,301},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_yssj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>new_yssj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,229},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>new.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a6066695b8522f64c93f5c51d2fe3b$</string>
            <key>textureFileName</key>
            <string>new.png</string>
        </dict>
    </dict>
</plist>
