<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opentxt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,179},{252,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,137}}</string>
                <key>sourceSize</key>
                <string>{252,137}</string>
            </dict>
            <key>opentxt02.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,476},{252,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,134}}</string>
                <key>sourceSize</key>
                <string>{252,134}</string>
            </dict>
            <key>opentxt03.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,549},{251,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,135}}</string>
                <key>sourceSize</key>
                <string>{251,135}</string>
            </dict>
            <key>opentxt04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{251,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,135}}</string>
                <key>sourceSize</key>
                <string>{251,135}</string>
            </dict>
            <key>opentxt05.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,318},{314,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,77}}</string>
                <key>sourceSize</key>
                <string>{314,77}</string>
            </dict>
            <key>opentxt06.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,101},{253,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,76}}</string>
                <key>sourceSize</key>
                <string>{253,76}</string>
            </dict>
            <key>opentxt07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,76}}</string>
                <key>sourceSize</key>
                <string>{490,76}</string>
            </dict>
            <key>opentxt08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,450},{333,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,97}}</string>
                <key>sourceSize</key>
                <string>{333,97}</string>
            </dict>
            <key>opentxt09.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,101},{372,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,77}}</string>
                <key>sourceSize</key>
                <string>{372,77}</string>
            </dict>
            <key>opentxt10.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,397},{313,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{313,77}}</string>
                <key>sourceSize</key>
                <string>{313,77}</string>
            </dict>
            <key>opentxt12.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,789},{173,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,95}}</string>
                <key>sourceSize</key>
                <string>{173,95}</string>
            </dict>
            <key>opentxt13.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,360},{334,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,88}}</string>
                <key>sourceSize</key>
                <string>{334,88}</string>
            </dict>
            <key>opentxt14.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,612},{174,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,98}}</string>
                <key>sourceSize</key>
                <string>{174,98}</string>
            </dict>
            <key>opentxt15.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,180},{336,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,89}}</string>
                <key>sourceSize</key>
                <string>{336,89}</string>
            </dict>
            <key>opentxt16.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,712},{174,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,95}}</string>
                <key>sourceSize</key>
                <string>{174,95}</string>
            </dict>
            <key>opentxt17.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{415,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,97}}</string>
                <key>sourceSize</key>
                <string>{415,97}</string>
            </dict>
            <key>opentxt18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{382,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,96}}</string>
                <key>sourceSize</key>
                <string>{382,96}</string>
            </dict>
            <key>opentxt19.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,271},{335,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,87}}</string>
                <key>sourceSize</key>
                <string>{335,87}</string>
            </dict>
            <key>openwp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,886},{139,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,267}}</string>
                <key>sourceSize</key>
                <string>{139,267}</string>
            </dict>
            <key>openwp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{193,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,234}}</string>
                <key>sourceSize</key>
                <string>{193,234}</string>
            </dict>
            <key>openwp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{216,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,198}}</string>
                <key>sourceSize</key>
                <string>{216,198}</string>
            </dict>
            <key>openwp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,953},{135,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,277}}</string>
                <key>sourceSize</key>
                <string>{135,277}</string>
            </dict>
            <key>openwp05.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,612},{147,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,237}}</string>
                <key>sourceSize</key>
                <string>{147,237}</string>
            </dict>
            <key>openwp06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,809},{156,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,261}}</string>
                <key>sourceSize</key>
                <string>{156,261}</string>
            </dict>
            <key>openwp07.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,549},{183,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,238}}</string>
                <key>sourceSize</key>
                <string>{183,238}</string>
            </dict>
            <key>openwp08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,686},{211,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,265}}</string>
                <key>sourceSize</key>
                <string>{211,265}</string>
            </dict>
            <key>opnemodel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{360,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,308}}</string>
                <key>sourceSize</key>
                <string>{360,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>open.png</string>
            <key>size</key>
            <string>{1018,1232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b70da3184bac0039cabe7b612d3d53f7$</string>
            <key>textureFileName</key>
            <string>open.png</string>
        </dict>
    </dict>
</plist>
