<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>operate_addyc_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{360,201}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,30},{360,201}}</string>
                <key>sourceSize</key>
                <string>{406,295}</string>
            </dict>
            <key>operate_adfl_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{548,200}}</string>
                <key>offset</key>
                <string>{110,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,3},{548,200}}</string>
                <key>sourceSize</key>
                <string>{780,220}</string>
            </dict>
            <key>operate_adgc_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,496},{274,197}}</string>
                <key>offset</key>
                <string>{-12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,36},{274,197}}</string>
                <key>sourceSize</key>
                <string>{406,295}</string>
            </dict>
            <key>operate_adjj_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{424,198}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,7},{424,198}}</string>
                <key>sourceSize</key>
                <string>{488,224}</string>
            </dict>
            <key>operate_dh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
            <key>operate_gm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,757},{98,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>operate_gm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,701},{98,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>operate_hdan_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,272},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>operate_hdan_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,208},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>operate_hdan_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,204},{151,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,66}}</string>
                <key>sourceSize</key>
                <string>{151,66}</string>
            </dict>
            <key>operate_jd_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,236},{326,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,8}}</string>
                <key>sourceSize</key>
                <string>{326,8}</string>
            </dict>
            <key>operate_jdbg_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,208},{348,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,26}}</string>
                <key>sourceSize</key>
                <string>{348,26}</string>
            </dict>
            <key>operate_kscj_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,750},{200,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>operate_kscj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{200,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{200,68}}</string>
                <key>sourceSize</key>
                <string>{204,70}</string>
            </dict>
            <key>operate_lhcj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,537},{100,79}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{100,79}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>operate_lhcj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,450},{100,85}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{100,85}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>operate_lq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,645},{98,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>operate_lq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,589},{98,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,54}}</string>
                <key>sourceSize</key>
                <string>{98,56}</string>
            </dict>
            <key>operate_lqjl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{191,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,53}}</string>
                <key>sourceSize</key>
                <string>{191,57}</string>
            </dict>
            <key>operate_lqjl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,766},{191,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,53}}</string>
                <key>sourceSize</key>
                <string>{191,57}</string>
            </dict>
            <key>operate_njafl_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,655},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_njjcsa_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,692},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_nlqjl_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,623},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_npldyc_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,554},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_nwygc_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,485},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_nygqa1_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,711},{191,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,53}}</string>
                <key>sourceSize</key>
                <string>{191,53}</string>
            </dict>
            <key>operate_nylq_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,416},{213,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{213,67}}</string>
                <key>sourceSize</key>
                <string>{217,69}</string>
            </dict>
            <key>operate_taddyc_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,371},{307,123}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,15},{307,123}}</string>
                <key>sourceSize</key>
                <string>{347,149}</string>
            </dict>
            <key>operate_tadfl_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,246},{308,123}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,6},{308,123}}</string>
                <key>sourceSize</key>
                <string>{354,129}</string>
            </dict>
            <key>operate_tadgc_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,531},{307,122}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,11},{307,122}}</string>
                <key>sourceSize</key>
                <string>{355,154}</string>
            </dict>
            <key>operate_tadjj_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{307,122}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{307,122}}</string>
                <key>sourceSize</key>
                <string>{355,146}</string>
            </dict>
            <key>operate_x_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,202},{394,4}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{394,4}}</string>
                <key>sourceSize</key>
                <string>{446,4}</string>
            </dict>
            <key>operate_xycj_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,395},{123,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,53}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>operate_xycj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,340},{123,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,53}}</string>
                <key>sourceSize</key>
                <string>{123,55}</string>
            </dict>
            <key>operate_xycj_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,346},{191,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,68}}</string>
                <key>sourceSize</key>
                <string>{191,68}</string>
            </dict>
            <key>operate_xycj_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,276},{191,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,68}}</string>
                <key>sourceSize</key>
                <string>{191,68}</string>
            </dict>
            <key>operate_zxhd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,496},{98,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{98,91}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>operate_zxhd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,618},{98,91}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{98,91}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>operater_swcj_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,695},{271,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,53}}</string>
                <key>sourceSize</key>
                <string>{271,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operate.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe38e869d891c283afc9752a6ce1d1ec$</string>
            <key>textureFileName</key>
            <string>operate.png</string>
        </dict>
    </dict>
</plist>
