<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pay_1998y.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,991},{137,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{137,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_4998y.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,991},{137,31}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{137,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_998y.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,991},{119,31}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{119,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_cc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,828},{137,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,173}}</string>
                <key>sourceSize</key>
                <string>{137,173}</string>
            </dict>
            <key>pay_cc_title_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{803,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{803,68}}</string>
                <key>sourceSize</key>
                <string>{803,68}</string>
            </dict>
            <key>pay_clb_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{807,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,376}}</string>
                <key>sourceSize</key>
                <string>{807,376}</string>
            </dict>
            <key>pay_gmlb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,245},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>pay_gmlb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,164},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>pay_js_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,828},{46,25}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,25}}</string>
                <key>sourceSize</key>
                <string>{54,31}</string>
            </dict>
            <key>pay_kf_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{234,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,194}}</string>
                <key>sourceSize</key>
                <string>{234,194}</string>
            </dict>
            <key>pay_lqlb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,83},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>pay_lqlb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{206,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,79}}</string>
                <key>sourceSize</key>
                <string>{206,79}</string>
            </dict>
            <key>pay_lyb_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{807,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,376}}</string>
                <key>sourceSize</key>
                <string>{807,376}</string>
            </dict>
            <key>pay_sc_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,672},{203,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,344}}</string>
                <key>sourceSize</key>
                <string>{203,344}</string>
            </dict>
            <key>pay_sc_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,326},{203,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,344}}</string>
                <key>sourceSize</key>
                <string>{203,344}</string>
            </dict>
            <key>pay_scsb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,828},{181,161}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_ttyb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,828},{181,161}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pay.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61db60425234332ebb391097795d22d0$</string>
            <key>textureFileName</key>
            <string>pay.png</string>
        </dict>
    </dict>
</plist>
