<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>payactivity_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{807,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,376}}</string>
                <key>sourceSize</key>
                <string>{807,376}</string>
            </dict>
            <key>payactivity_djdlb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,801},{145,123}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{145,123}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_djdlb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,483},{181,161}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_djdlb_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,572},{169,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{169,34}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>payactivity_djdlb_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,376},{228,196}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,14},{228,196}}</string>
                <key>sourceSize</key>
                <string>{272,226}</string>
            </dict>
            <key>payactivity_lixfs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,807},{145,125}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,34},{145,125}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_lixfs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,322},{181,161}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_lixfs_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,606},{322,195}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{322,195}}</string>
                <key>sourceSize</key>
                <string>{344,207}</string>
            </dict>
            <key>payactivity_ljczs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,807},{145,129}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,31},{145,129}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_ljczs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,161},{181,161}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_ljczs_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,970},{167,32}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{167,32}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>payactivity_ljczs_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,376},{498,200}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{498,200}}</string>
                <key>sourceSize</key>
                <string>{510,296}</string>
            </dict>
            <key>payactivity_ljxfs_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,773},{167,34}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{167,34}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>payactivity_zldlb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,801},{145,137}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{145,137}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_zldlb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,0},{181,161}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>payactivity_zldlb_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{167,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{167,32}}</string>
                <key>sourceSize</key>
                <string>{183,46}</string>
            </dict>
            <key>payactivity_zldlb_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{357,197}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{357,197}}</string>
                <key>sourceSize</key>
                <string>{361,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payactivity.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6d3ccdb6acf8320da269e5a25b6edd$</string>
            <key>textureFileName</key>
            <string>payactivity.png</string>
        </dict>
    </dict>
</plist>
