<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pay_1000y.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,993},{107,29}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{107,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_198y.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,990},{119,31}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{119,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_1wy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,993},{127,29}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{127,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_2000y.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,993},{109,29}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{109,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_3000y.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,993},{111,29}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{111,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_30y.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,990},{73,29}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{73,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_488y.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,957},{119,31}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{119,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_5000y.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,993},{111,29}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{111,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_50y.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,458},{73,29}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{73,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_98y.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,957},{101,31}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{101,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_cc_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,467},{237,40}}</string>
                <key>offset</key>
                <string>{10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,51},{237,40}}</string>
                <key>sourceSize</key>
                <string>{491,126}</string>
            </dict>
            <key>pay_ccdlb_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{807,376}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{807,376}}</string>
                <key>sourceSize</key>
                <string>{807,376}</string>
            </dict>
            <key>pay_cz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,380},{79,85}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{79,85}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_gmlb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{491,611}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,611}}</string>
                <key>sourceSize</key>
                <string>{491,611}</string>
            </dict>
            <key>pay_kfsl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,348},{181,161}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,161}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_lxgj.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,380},{226,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{226,76}}</string>
                <key>sourceSize</key>
                <string>{230,76}</string>
            </dict>
            <key>pay_sc_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,2},{203,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,344}}</string>
                <key>sourceSize</key>
                <string>{203,344}</string>
            </dict>
            <key>pay_scfsb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,511},{491,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,444}}</string>
                <key>sourceSize</key>
                <string>{491,444}</string>
            </dict>
            <key>pay_yb600.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,957},{96,24}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7e8f04afc0b6fa83031f6ccb77cf258$</string>
            <key>textureFileName</key>
            <string>payx1.png</string>
        </dict>
    </dict>
</plist>
