<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pay_100y.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,308},{89,29}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{89,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_10y.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,704},{71,29}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{71,29}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_50y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,840},{101,31}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{101,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_6y.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,671},{81,31}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,7},{81,31}}</string>
                <key>sourceSize</key>
                <string>{145,43}</string>
            </dict>
            <key>pay_cc_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{295,332}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{295,332}}</string>
                <key>sourceSize</key>
                <string>{301,340}</string>
            </dict>
            <key>pay_cc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,634},{284,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,79}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pay_cc_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,107},{121,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{121,60}}</string>
                <key>sourceSize</key>
                <string>{125,70}</string>
            </dict>
            <key>pay_cc_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,54},{124,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{124,51}}</string>
                <key>sourceSize</key>
                <string>{124,53}</string>
            </dict>
            <key>pay_cz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,735},{69,83}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{69,83}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_czlb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,352},{145,127}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{145,127}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_down_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{486,256}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{486,256}}</string>
                <key>sourceSize</key>
                <string>{506,270}</string>
            </dict>
            <key>pay_gmyk_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{491,444}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,444}}</string>
                <key>sourceSize</key>
                <string>{491,444}</string>
            </dict>
            <key>pay_gmyk_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,794},{284,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,77}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pay_gmyk_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,715},{284,77}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,77}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pay_kfsl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,481},{145,115}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,45},{145,115}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_l_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,592},{83,77}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{83,77}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_l_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,513},{83,77}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{83,77}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_llb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,426},{83,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{83,85}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_llb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,339},{83,85}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{83,85}}</string>
                <key>sourceSize</key>
                <string>{95,103}</string>
            </dict>
            <key>pay_lyb_btn1..png</key>
            <dict>
                <key>frame</key>
                <string>{{580,553},{284,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,79}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pay_lyb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,472},{284,79}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,79}}</string>
                <key>sourceSize</key>
                <string>{284,81}</string>
            </dict>
            <key>pay_notknow_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,873},{491,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,126}}</string>
                <key>sourceSize</key>
                <string>{491,126}</string>
            </dict>
            <key>pay_scsb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,598},{143,127}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{143,127}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_scsdl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,336},{287,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,70}}</string>
                <key>sourceSize</key>
                <string>{289,70}</string>
            </dict>
            <key>pay_scwq_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{582,304}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{582,304}}</string>
                <key>sourceSize</key>
                <string>{610,324}</string>
            </dict>
            <key>pay_ttlyb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,408},{285,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{285,62}}</string>
                <key>sourceSize</key>
                <string>{289,70}</string>
            </dict>
            <key>pay_ttyb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,727},{143,111}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,50},{143,111}}</string>
                <key>sourceSize</key>
                <string>{199,161}</string>
            </dict>
            <key>pay_yb100w.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,326},{116,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{116,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>pay_yb19800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,300},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>pay_yb199800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,28},{131,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{131,24}}</string>
                <key>sourceSize</key>
                <string>{131,26}</string>
            </dict>
            <key>pay_yb1w.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,274},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>pay_yb32800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,169},{119,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{119,24}}</string>
                <key>sourceSize</key>
                <string>{119,28}</string>
            </dict>
            <key>pay_yb48800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,248},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>pay_yb499800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{131,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{131,24}}</string>
                <key>sourceSize</key>
                <string>{131,26}</string>
            </dict>
            <key>pay_yb64800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,195},{118,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{118,25}}</string>
                <key>sourceSize</key>
                <string>{124,27}</string>
            </dict>
            <key>pay_yb99800.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,222},{118,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{118,24}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>payx2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93afc31343e9544f937e8371618f31bb$</string>
            <key>textureFileName</key>
            <string>payx2.png</string>
        </dict>
    </dict>
</plist>
