<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>promove_fbsx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,112},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>promove_fbsx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,112},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>promove_sjsx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,62},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>promove_sjsx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>promove_xxzy_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>promove_xxzy_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{200,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>promove_xyz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>promove_xyz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>promove.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f25c8fba271df84e7b12c4b7abff89e$</string>
            <key>textureFileName</key>
            <string>promove.png</string>
        </dict>
    </dict>
</plist>
