<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_rank_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{819,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{819,103}}</string>
                <key>sourceSize</key>
                <string>{819,103}</string>
            </dict>
            <key>h_rank_cf_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,695},{415,28}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,28}}</string>
                <key>sourceSize</key>
                <string>{455,28}</string>
            </dict>
            <key>h_rank_rqw_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{509,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,34}}</string>
                <key>sourceSize</key>
                <string>{509,34}</string>
            </dict>
            <key>h_rank_zl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{598,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,28}}</string>
                <key>sourceSize</key>
                <string>{600,28}</string>
            </dict>
            <key>rank_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,594},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,714},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,654},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,594},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,635},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,575},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,515},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,86},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>rank_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{505,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,113}}</string>
                <key>sourceSize</key>
                <string>{505,113}</string>
            </dict>
            <key>rank_c_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,44},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>rank_c_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{38,40}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>rank_cf_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,780},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_cf_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,780},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_cf_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{442,28}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{442,28}}</string>
                <key>sourceSize</key>
                <string>{494,28}</string>
            </dict>
            <key>rank_cfks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,695},{280,290}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,290}}</string>
                <key>sourceSize</key>
                <string>{282,292}</string>
            </dict>
            <key>rank_d_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,387},{36,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,44}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>rank_d_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,341},{36,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{36,44}}</string>
                <key>sourceSize</key>
                <string>{50,52}</string>
            </dict>
            <key>rank_ds_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,440},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_ds_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,391},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_gj.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,433},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>rank_gm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,334},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
            <key>rank_gm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,290},{95,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,42}}</string>
                <key>sourceSize</key>
                <string>{95,42}</string>
            </dict>
            <key>rank_gmitem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,987},{415,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,34}}</string>
                <key>sourceSize</key>
                <string>{415,34}</string>
            </dict>
            <key>rank_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{495,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{495,51}}</string>
                <key>sourceSize</key>
                <string>{495,51}</string>
            </dict>
            <key>rank_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,405},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>rank_img_pd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{437,280}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{437,280}}</string>
                <key>sourceSize</key>
                <string>{449,280}</string>
            </dict>
            <key>rank_jy.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,111},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>rank_ks_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,774},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_ks_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,774},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_lv_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,719},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_lv_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,867},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_lvks.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,403},{280,290}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,290}}</string>
                <key>sourceSize</key>
                <string>{282,292}</string>
            </dict>
            <key>rank_mfs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,342},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_mfs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,293},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_qd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,543},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>rank_qd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,239},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>rank_rq_bthird.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,516},{103,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,25}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>rank_rq_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,489},{103,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,25}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>rank_rq_second.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,378},{103,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{103,25}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>rank_rqw_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,683},{251,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,34}}</string>
                <key>sourceSize</key>
                <string>{251,34}</string>
            </dict>
            <key>rank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,2},{153,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{153,58}}</string>
                <key>sourceSize</key>
                <string>{155,58}</string>
            </dict>
            <key>rank_yhgm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,725},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>rank_yj.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,111},{35,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,18}}</string>
                <key>sourceSize</key>
                <string>{35,18}</string>
            </dict>
            <key>rank_zb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,244},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_zb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,195},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_zl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,719},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_zl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,515},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>rank_zl_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{452,28}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,28}}</string>
                <key>sourceSize</key>
                <string>{494,28}</string>
            </dict>
            <key>rank_zlks.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,111},{280,290}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{280,290}}</string>
                <key>sourceSize</key>
                <string>{282,292}</string>
            </dict>
            <key>rank_zr_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,188},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>rank_zr_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,137},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>rank_zs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,146},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>rank_zs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,62},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eddf9176d6eac07bbf9587cff8ad12b6$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
