<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reward_ach_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,733},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_ach_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,586},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_del_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,570},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>reward_del_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,566},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>reward_dhm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,178},{497,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,193}}</string>
                <key>sourceSize</key>
                <string>{497,193}</string>
            </dict>
            <key>reward_dhm_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{324,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,193}}</string>
                <key>sourceSize</key>
                <string>{324,193}</string>
            </dict>
            <key>reward_draw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,505},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_draw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,445},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_fri_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,517},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_fri_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,494},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_hf_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,450},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_hf_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_icon01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,563},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>reward_icon02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,522},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>reward_icon11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{58,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>reward_icon12.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,627},{58,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>reward_kdhlb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>reward_ksdh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,442},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_ksdh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,433},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_lb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,585},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_lb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,586},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_lb_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,577},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>reward_lbdh_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,373},{204,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{204,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>reward_lbitem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{525,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{525,51}}</string>
                <key>sourceSize</key>
                <string>{525,51}</string>
            </dict>
            <key>reward_lbitem_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,55},{505,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,51}}</string>
                <key>sourceSize</key>
                <string>{505,51}</string>
            </dict>
            <key>reward_mail_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_mail_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,622},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>reward_mail_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{504,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,90}}</string>
                <key>sourceSize</key>
                <string>{504,90}</string>
            </dict>
            <key>reward_sociaty_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,445},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_sociaty_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,514},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_system_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,249},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_system_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,200},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>reward_title_gg.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,445},{103,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>reward_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,563},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>reward_txt_nqfj.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,505},{93,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,25}}</string>
                <key>sourceSize</key>
                <string>{93,25}</string>
            </dict>
            <key>reward_xyj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,373},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_xyj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,373},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_yjlq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,522},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>reward_yjlq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>reward_yjsc_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,370},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>reward_yjsc_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,298},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>shop_gg_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,622},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_gg_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,532},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,543},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,25}}</string>
                <key>sourceSize</key>
                <string>{135,25}</string>
            </dict>
            <key>task_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,2},{439,174}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{439,174}}</string>
                <key>sourceSize</key>
                <string>{439,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99bfb54d1592850ec7f8b9a8bd09b055$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
