<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sa_btnckzt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,189},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sa_btnckzt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,117},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sa_btnfyt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,189},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>sa_btnfyt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,57},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>sa_btngjt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,80},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>sa_btngjt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,41},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>sa_btnlqjl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,184},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sa_btnlqjl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,112},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sa_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{591,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{591,37}}</string>
                <key>sourceSize</key>
                <string>{591,37}</string>
            </dict>
            <key>sa_item_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{519,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,37}}</string>
                <key>sourceSize</key>
                <string>{519,37}</string>
            </dict>
            <key>sa_no_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,84},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>sa_ok_ing.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,57},{28,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,25}}</string>
                <key>sourceSize</key>
                <string>{28,25}</string>
            </dict>
            <key>sa_step.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{303,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,42}}</string>
                <key>sourceSize</key>
                <string>{303,42}</string>
            </dict>
            <key>sa_tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{429,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,25}}</string>
                <key>sourceSize</key>
                <string>{429,25}</string>
            </dict>
            <key>sa_tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,46},{293,9}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,9}}</string>
                <key>sourceSize</key>
                <string>{309,9}</string>
            </dict>
            <key>sa_title_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>sa_tzjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,57},{200,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{200,58}}</string>
                <key>sourceSize</key>
                <string>{210,58}</string>
            </dict>
            <key>sa_unkonw.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,189},{53,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,62}}</string>
                <key>sourceSize</key>
                <string>{53,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sa.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3d823f40fb94e27be671dfe9bbc4b8f$</string>
            <key>textureFileName</key>
            <string>sa.png</string>
        </dict>
    </dict>
</plist>
