<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sale_bj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,423},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,399},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjjq1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjjq2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,406},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjjq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,383},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjjq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,351},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjpjj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,437},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_bjpjj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_bjyb1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,327},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjyb1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjyb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,334},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjyb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,311},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_bjzdj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,478},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_bjzdj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,455},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_bjzgj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,223},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_bjzgj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,167},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>sale_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,327},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>sale_jq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,184},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>sale_jq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,190},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>sale_jqsp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,387},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>sale_jqsp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,317},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>sale_js_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_js_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,262},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_js_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,137},{219,51}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,51}}</string>
                <key>sourceSize</key>
                <string>{219,63}</string>
            </dict>
            <key>sale_jsh_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,123},{150,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,58}}</string>
                <key>sourceSize</key>
                <string>{152,58}</string>
            </dict>
            <key>sale_ksjs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,279},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_ksjs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,239},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{306,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,9}}</string>
                <key>sourceSize</key>
                <string>{306,9}</string>
            </dict>
            <key>sale_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{537,9}}</string>
                <key>sourceSize</key>
                <string>{541,9}</string>
            </dict>
            <key>sale_mjq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,534},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>sale_mjq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,511},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>sale_mjq_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,255},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_mjq_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,183},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_myb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,495},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>sale_myb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,471},{96,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,54}}</string>
                <key>sourceSize</key>
                <string>{96,54}</string>
            </dict>
            <key>sale_myb_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,167},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_myb_btn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_px_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,513},{77,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>sale_px_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,457},{77,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,54}}</string>
                <key>sourceSize</key>
                <string>{77,56}</string>
            </dict>
            <key>sale_ss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,190},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_ss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>sale_title_csjg.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,96},{183,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,25}}</string>
                <key>sourceSize</key>
                <string>{183,25}</string>
            </dict>
            <key>sale_title_csjq.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,13},{299,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{299,25}}</string>
                <key>sourceSize</key>
                <string>{299,25}</string>
            </dict>
            <key>sale_title_cssl.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,29},{183,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,25}}</string>
                <key>sourceSize</key>
                <string>{183,25}</string>
            </dict>
            <key>sale_title_ssgjz.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{160,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,25}}</string>
                <key>sourceSize</key>
                <string>{160,25}</string>
            </dict>
            <key>sale_txt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{233,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,38}}</string>
                <key>sourceSize</key>
                <string>{233,38}</string>
            </dict>
            <key>sale_txt_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,40},{287,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,38}}</string>
                <key>sourceSize</key>
                <string>{287,38}</string>
            </dict>
            <key>sale_txt_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,56},{189,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,38}}</string>
                <key>sourceSize</key>
                <string>{189,38}</string>
            </dict>
            <key>sale_txt_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,80},{273,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,85}}</string>
                <key>sourceSize</key>
                <string>{273,85}</string>
            </dict>
            <key>sale_txt_down5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{530,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{530,122}}</string>
                <key>sourceSize</key>
                <string>{530,122}</string>
            </dict>
            <key>sale_yb_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,137},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>sale_yb_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,123},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>sale_ybsp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,247},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
            <key>sale_ybsp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,177},{83,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,68}}</string>
                <key>sourceSize</key>
                <string>{83,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sale.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ac7854cec9ae1752b4e1deee049e1ac$</string>
            <key>textureFileName</key>
            <string>sale.png</string>
        </dict>
    </dict>
</plist>
