<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>server_b_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,305},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>server_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{137,156}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{137,156}}</string>
                <key>sourceSize</key>
                <string>{151,170}</string>
            </dict>
            <key>server_dj_txtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{296,30}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,30}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>server_fh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,464},{130,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>server_fh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{130,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,44}}</string>
                <key>sourceSize</key>
                <string>{130,48}</string>
            </dict>
            <key>server_ht_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,299},{83,4}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{83,4}}</string>
                <key>sourceSize</key>
                <string>{93,4}</string>
            </dict>
            <key>server_ht_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,299},{83,4}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{83,4}}</string>
                <key>sourceSize</key>
                <string>{93,4}</string>
            </dict>
            <key>server_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,182},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>server_itemh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,241},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>server_itemxz_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,241},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>server_j_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,137},{42,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,43}}</string>
                <key>sourceSize</key>
                <string>{46,43}</string>
            </dict>
            <key>server_jryx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{177,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,64}}</string>
                <key>sourceSize</key>
                <string>{177,64}</string>
            </dict>
            <key>server_jryx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{177,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,64}}</string>
                <key>sourceSize</key>
                <string>{177,64}</string>
            </dict>
            <key>server_kx_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,373},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>server_lb_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{297,39}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,39}}</string>
                <key>sourceSize</key>
                <string>{315,39}</string>
            </dict>
            <key>server_lh_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,306},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>server_qhzh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,137},{205,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,43}}</string>
                <key>sourceSize</key>
                <string>{205,43}</string>
            </dict>
            <key>server_qhzh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,92},{205,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,43}}</string>
                <key>sourceSize</key>
                <string>{205,43}</string>
            </dict>
            <key>server_scdl_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{294,30}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,30}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>server_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{253,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,33}}</string>
                <key>sourceSize</key>
                <string>{253,33}</string>
            </dict>
            <key>server_wf_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,174},{64,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>server_xz_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{198,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,30}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>server_xzqt_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,47},{205,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,43}}</string>
                <key>sourceSize</key>
                <string>{205,43}</string>
            </dict>
            <key>server_xzqt_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{205,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,43}}</string>
                <key>sourceSize</key>
                <string>{205,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>server.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92feb0fa7bf3ea0fe22e114a0ec296f5$</string>
            <key>textureFileName</key>
            <string>server.png</string>
        </dict>
    </dict>
</plist>
