<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_set_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{293,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,87}}</string>
                <key>sourceSize</key>
                <string>{293,87}</string>
            </dict>
            <key>h_set_yback_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,2}}</string>
                <key>offset</key>
                <string>{-157,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,46},{1,2}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>h_set_yback_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{461,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{461,74}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>set_by_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,527},{87,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_by_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,482},{87,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,63},{25,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,94}}</string>
                <key>sourceSize</key>
                <string>{25,94}</string>
            </dict>
            <key>set_dyh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,643},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_dyh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,623},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_fz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,100},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>set_fz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,62},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>set_gj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,51},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>set_gj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>set_hbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_hbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,161},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_hbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,149},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_hbtn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,149},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_hd_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,259},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>set_img_jnsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{506,34}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,34}}</string>
                <key>sourceSize</key>
                <string>{516,34}</string>
            </dict>
            <key>set_img_pkms.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{506,34}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,34}}</string>
                <key>sourceSize</key>
                <string>{516,34}</string>
            </dict>
            <key>set_jd_back1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{2,2}}</string>
                <key>offset</key>
                <string>{351,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{702,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{704,28}</string>
            </dict>
            <key>set_jd_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{704,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,28}}</string>
                <key>sourceSize</key>
                <string>{704,28}</string>
            </dict>
            <key>set_jd_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{704,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{704,28}}</string>
                <key>sourceSize</key>
                <string>{704,28}</string>
            </dict>
            <key>set_jnl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{295,34}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,34}}</string>
                <key>sourceSize</key>
                <string>{323,34}</string>
            </dict>
            <key>set_jnsz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,768},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>set_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{503,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,44}}</string>
                <key>sourceSize</key>
                <string>{503,44}</string>
            </dict>
            <key>set_kuang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,259},{245,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,51}}</string>
                <key>sourceSize</key>
                <string>{245,51}</string>
            </dict>
            <key>set_lbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,149},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_lbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,124},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_lbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,123},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_lbtn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,100},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_lh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,439},{91,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_lh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,435},{91,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{91,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_mfd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,619},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_mfd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,591},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_moshi1_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,711},{106,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{106,108}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi2_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,715},{104,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{104,108}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi3_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,680},{106,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,23},{106,108}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi3_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,821},{134,134}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi4_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,683},{104,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,22},{104,108}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi4_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,778},{134,134}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_mrpx_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,367},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_mrpx_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,367},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_mrsz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,358},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_mrsz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,63},{25,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,94}}</string>
                <key>sourceSize</key>
                <string>{25,94}</string>
            </dict>
            <key>set_pknum.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,2},{101,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,24}}</string>
                <key>sourceSize</key>
                <string>{103,24}</string>
            </dict>
            <key>set_rbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_rbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,62},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_rbtn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,32},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_rbtn4.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>set_sd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,676},{88,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>set_sd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,666},{88,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>set_sds_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,367},{87,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_sds_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,343},{87,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{87,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_sjs_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,574},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_sjs_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,574},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_title_pk.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,312},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>set_title_sel1.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,134},{295,34}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,34}}</string>
                <key>sourceSize</key>
                <string>{323,34}</string>
            </dict>
            <key>set_title_sel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{295,34}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,34}}</string>
                <key>sourceSize</key>
                <string>{323,34}</string>
            </dict>
            <key>set_title_xzjn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{506,34}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,34}}</string>
                <key>sourceSize</key>
                <string>{516,34}</string>
            </dict>
            <key>set_title_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>set_title_zdms.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,222},{333,35}}</string>
                <key>offset</key>
                <string>{-105,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,35}}</string>
                <key>sourceSize</key>
                <string>{543,43}</string>
            </dict>
            <key>set_title_zdsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,184},{333,35}}</string>
                <key>offset</key>
                <string>{-105,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,35}}</string>
                <key>sourceSize</key>
                <string>{543,43}</string>
            </dict>
            <key>set_yback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,911},{419,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,84}}</string>
                <key>sourceSize</key>
                <string>{419,84}</string>
            </dict>
            <key>set_yback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,825},{419,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,84}}</string>
                <key>sourceSize</key>
                <string>{419,84}</string>
            </dict>
            <key>set_yback_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,2}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,63},{1,2}}</string>
                <key>sourceSize</key>
                <string>{419,84}</string>
            </dict>
            <key>set_yback_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{409,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{409,74}}</string>
                <key>sourceSize</key>
                <string>{419,84}</string>
            </dict>
            <key>set_yld_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,551},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_yld_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,531},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_ypsz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,735},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>set_zdpz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,318},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_zdpz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,246},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>set_zdsz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,845},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_zdsz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,778},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_zdsz_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>set_zhkl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,482},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_zhkl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,459},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_zhss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,390},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_zhss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,390},{93,90}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{93,90}}</string>
                <key>sourceSize</key>
                <string>{107,90}</string>
            </dict>
            <key>set_zw_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,666},{88,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>set_zw_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,574},{88,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{88,100}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>set.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1df0789935e6dac7c35f3993bd390edf$</string>
            <key>textureFileName</key>
            <string>set.png</string>
        </dict>
    </dict>
</plist>
