<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>h_set_yback1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,138},{471,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,84}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>h_set_yback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{471,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,84}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>set_hp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,157},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_hp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,157},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_jd_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{811,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{811,67}}</string>
                <key>sourceSize</key>
                <string>{811,67}</string>
            </dict>
            <key>set_jnsz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,157},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_jnsz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,293},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_moshi1_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{134,134}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_moshi2_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{134,134}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,154}</string>
            </dict>
            <key>set_mp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,150},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_mp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>set_skillitem_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,157},{95,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,148}}</string>
                <key>sourceSize</key>
                <string>{95,148}</string>
            </dict>
            <key>set_yback_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,138},{1,2}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,63},{1,2}}</string>
                <key>sourceSize</key>
                <string>{419,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:254660060ac3ca9b48670e4f8e774d58$</string>
            <key>textureFileName</key>
            <string>setx1.png</string>
        </dict>
    </dict>
</plist>
