<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_begin_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{121,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{121,121}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>shop_begin_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,298},{121,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{121,121}}</string>
                <key>sourceSize</key>
                <string>{127,123}</string>
            </dict>
            <key>shop_buy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,83},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>shop_buy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{129,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,52}}</string>
                <key>sourceSize</key>
                <string>{129,52}</string>
            </dict>
            <key>shop_cj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>shop_cj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,100},{155,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,52}}</string>
                <key>sourceSize</key>
                <string>{155,52}</string>
            </dict>
            <key>shop_goodsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{129,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,24}}</string>
                <key>sourceSize</key>
                <string>{129,24}</string>
            </dict>
            <key>shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,268},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>shop_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{63,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,30}}</string>
                <key>sourceSize</key>
                <string>{63,30}</string>
            </dict>
            <key>shop_price_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,1}}</string>
                <key>sourceSize</key>
                <string>{100,1}</string>
            </dict>
            <key>shop_rx_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,323},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_rx_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,323},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,154},{152,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,57}}</string>
                <key>sourceSize</key>
                <string>{152,57}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,213},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>shop_title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{271,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,53}}</string>
                <key>sourceSize</key>
                <string>{271,57}</string>
            </dict>
            <key>shop_title_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,137},{101,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>shop_yb_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,51},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>shop_yb_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,34},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>shop_zb_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>shop_zb_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{135,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,47}}</string>
                <key>sourceSize</key>
                <string>{135,47}</string>
            </dict>
            <key>shop_zk_qbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,150},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
            <key>shop_zk_qbtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{69,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,146}}</string>
                <key>sourceSize</key>
                <string>{69,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd7e3d493cf81486ae6ee8afb711f717$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
