<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{471,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,84}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>skill_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,418},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>skill_close_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,418},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_close_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_get_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,346},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_get_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_learn_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_learn_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,274},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>skill_leveling_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,350},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_leveling_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,329},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_nolearn.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,418},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>skill_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,418},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>skill_open_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,296},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_open_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,275},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_out_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,242},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_out_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,221},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>skill_rail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,221},{257,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,19}}</string>
                <key>sourceSize</key>
                <string>{257,19}</string>
            </dict>
            <key>skill_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{461,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{461,74}}</string>
                <key>sourceSize</key>
                <string>{471,84}</string>
            </dict>
            <key>skill_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{365,55}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,55}}</string>
                <key>sourceSize</key>
                <string>{407,61}</string>
            </dict>
            <key>skill_title_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,164},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdb9eb0a72579abfa5b40d13947dae77$</string>
            <key>textureFileName</key>
            <string>skill.png</string>
        </dict>
    </dict>
</plist>
