<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_txt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,114},{252,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,402},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,344},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,286},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{252,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,228},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,58},{252,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,170},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{252,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_jnlqz.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_mpbz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,54}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_txt.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c55b8a42c90c5976cd3d27e292f61fb9$</string>
            <key>textureFileName</key>
            <string>skill_txt.png</string>
        </dict>
    </dict>
</plist>
