<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_txt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,414},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,122},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,356},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,298},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{252,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,240},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,62},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,182},{252,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{252,56}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
            <key>skill_txt_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,58}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{252,58}}</string>
                <key>sourceSize</key>
                <string>{252,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_txtx1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02f26cb3259a0e0afb3a542c405a49fa$</string>
            <key>textureFileName</key>
            <string>skill_txtx1.png</string>
        </dict>
    </dict>
</plist>
