<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{326,31}}</string>
                <key>offset</key>
                <string>{-13,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{326,31}}</string>
                <key>sourceSize</key>
                <string>{374,45}</string>
            </dict>
            <key>sky_glchd_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{469,312}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{469,312}}</string>
                <key>sourceSize</key>
                <string>{487,312}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f91bc0a9c060bf8e85dc7533add37ad$</string>
            <key>textureFileName</key>
            <string>sky.png</string>
        </dict>
    </dict>
</plist>
