<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spirit_eye_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,85},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>spirit_eye_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,85},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>spirit_getysd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,172},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_getysd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,157},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_jh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,146},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_jh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,112},{101,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{101,58}}</string>
                <key>sourceSize</key>
                <string>{105,58}</string>
            </dict>
            <key>spirit_ybsj_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,74},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_ybsj_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,2},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>spirit_ys_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,81}}</string>
                <key>sourceSize</key>
                <string>{245,81}</string>
            </dict>
            <key>spirit_ys_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>spirit_ys_wzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,229},{116,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,25}}</string>
                <key>sourceSize</key>
                <string>{116,25}</string>
            </dict>
            <key>spirit_ys_yzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,218},{116,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,25}}</string>
                <key>sourceSize</key>
                <string>{116,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spirit.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7ee6a5f893d7dbe9078f582c140b419$</string>
            <key>textureFileName</key>
            <string>spirit.png</string>
        </dict>
    </dict>
</plist>
