<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tali_shangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,264},{265,254}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{265,254}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_lhzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,260},{265,256}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{265,256}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_lwhh.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,764},{259,244}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{259,244}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_nandao.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_nanfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_nanzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_nvdao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_qiangdi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{265,260}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{265,260}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_qiangdi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{265,256}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{265,256}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_xstl.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,520},{263,260}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{263,260}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_zuohufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,518},{265,244}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{265,244}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talkx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f3f3f6fea359beaf0f8dc31237870c1$</string>
            <key>textureFileName</key>
            <string>talkx1.png</string>
        </dict>
    </dict>
</plist>
