<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tali_qiangdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,566},{265,270}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{265,270}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{513,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{513,178}}</string>
                <key>sourceSize</key>
                <string>{513,178}</string>
            </dict>
            <key>talk_fuhuizhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{265,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{265,272}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_fuhuizhang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,182},{245,270}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{245,270}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,600},{49,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{49,120}}</string>
                <key>sourceSize</key>
                <string>{57,130}</string>
            </dict>
            <key>talk_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,566},{184,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,32}}</string>
                <key>sourceSize</key>
                <string>{184,32}</string>
            </dict>
            <key>talk_nvfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,728},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_nvzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,738},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_nzjs.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,284},{265,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,280}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_qiangdi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{240,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_xiaoloulou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{265,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,280}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_youhufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,2},{265,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,280}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
            <key>talk_zdy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,284},{238,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_zdy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{238,280}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{238,280}}</string>
                <key>sourceSize</key>
                <string>{240,280}</string>
            </dict>
            <key>talk_zdy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,454},{241,272}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{241,272}}</string>
                <key>sourceSize</key>
                <string>{265,280}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talk.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c2bd9388f784fe4c5491e9d32c5660e$</string>
            <key>textureFileName</key>
            <string>talk.png</string>
        </dict>
    </dict>
</plist>
