<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>task_Activity_FML.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{385,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,103}}</string>
                <key>sourceSize</key>
                <string>{385,103}</string>
            </dict>
            <key>task_auto_2time.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,8},{84,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{84,48}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>task_ccdj.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,8},{309,34}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{309,34}}</string>
                <key>sourceSize</key>
                <string>{319,38}</string>
            </dict>
            <key>task_come_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_come_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,258},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_drop_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,242},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_drop_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,210},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,314},{410,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,76}}</string>
                <key>sourceSize</key>
                <string>{410,76}</string>
            </dict>
            <key>task_glc1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,754},{377,145}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,145}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>task_glc2.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,504},{377,111}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{377,111}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>task_img1.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{92,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,18}}</string>
                <key>sourceSize</key>
                <string>{92,18}</string>
            </dict>
            <key>task_img2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{92,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,18}}</string>
                <key>sourceSize</key>
                <string>{92,18}</string>
            </dict>
            <key>task_img_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,31},{64,65}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{64,65}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>task_img_bx.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,31},{62,59}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{62,59}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>task_jnjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,78},{506,34}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{506,34}}</string>
                <key>sourceSize</key>
                <string>{516,34}</string>
            </dict>
            <key>task_jxzg_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,204},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_jxzg_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_line_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{550,4}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{550,4}}</string>
                <key>sourceSize</key>
                <string>{580,4}</string>
            </dict>
            <key>task_lookp_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,186},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_lookp_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,170},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_mbcz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{377,145}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,145}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>task_mbcz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,617},{377,113}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{377,113}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>task_qtgk_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,114},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_qtgk_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,98},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>task_rwgx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,459},{374,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,110}}</string>
                <key>sourceSize</key>
                <string>{374,110}</string>
            </dict>
            <key>task_rwsb.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,392},{374,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,110}}</string>
                <key>sourceSize</key>
                <string>{374,110}</string>
            </dict>
            <key>task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{343,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,52}}</string>
                <key>sourceSize</key>
                <string>{345,52}</string>
            </dict>
            <key>task_title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,114},{505,34}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{505,34}}</string>
                <key>sourceSize</key>
                <string>{543,34}</string>
            </dict>
            <key>task_txt_djxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{96,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{96,27}}</string>
                <key>sourceSize</key>
                <string>{108,33}</string>
            </dict>
            <key>task_txt_drcg.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,150},{245,58}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{245,58}}</string>
                <key>sourceSize</key>
                <string>{269,76}</string>
            </dict>
            <key>task_txt_drfb.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,282},{255,70}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{255,70}}</string>
                <key>sourceSize</key>
                <string>{269,76}</string>
            </dict>
            <key>task_txt_fbdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{169,49}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{169,49}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>task_txt_fbgw.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,22},{173,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{173,45}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>task_txt_fbjl.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,44},{173,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{173,47}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>task_txt_fbrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,31},{175,45}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{175,45}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>task_txt_fbwj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{173,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{173,47}}</string>
                <key>sourceSize</key>
                <string>{187,55}</string>
            </dict>
            <key>task_txt_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{48,25}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>task_txt_jy.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{48,25}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,25}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>task_txt_ry.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{48,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,27}}</string>
                <key>sourceSize</key>
                <string>{48,33}</string>
            </dict>
            <key>task_txt_zdlxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,8},{120,27}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{120,27}}</string>
                <key>sourceSize</key>
                <string>{120,33}</string>
            </dict>
            <key>task_wcrw.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,617},{469,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{469,135}}</string>
                <key>sourceSize</key>
                <string>{469,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cd2feffc0d0fb5a11289f87fd033063$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
