<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_team_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>team_dismiss_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_dismiss_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,247},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_exit_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_exit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,191},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_leader.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,112},{40,36}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>team_off_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,191},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_off_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,184},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_setup_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_setup_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,128},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_sqrd_1.png.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,431},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>team_sqrd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{114,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,56}}</string>
                <key>sourceSize</key>
                <string>{114,56}</string>
            </dict>
            <key>team_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,53}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,53}}</string>
                <key>sourceSize</key>
                <string>{359,57}</string>
            </dict>
            <key>team_turn_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,65},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_turn_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{114,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,61}}</string>
                <key>sourceSize</key>
                <string>{114,63}</string>
            </dict>
            <key>team_yqrd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,112},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>team_yqrd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>team.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e23f0a1202ad54d483e4fdf908d78f2$</string>
            <key>textureFileName</key>
            <string>team.png</string>
        </dict>
    </dict>
</plist>
