<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tip_ccgl_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,215},{120,119}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,12},{120,119}}</string>
                <key>sourceSize</key>
                <string>{132,139}</string>
            </dict>
            <key>tip_ckgl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,96},{134,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>tip_ckgl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,169},{134,61}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,61}}</string>
                <key>sourceSize</key>
                <string>{134,63}</string>
            </dict>
            <key>tip_hqsw_bt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,175},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>tip_lkqblq_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{169,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,54}}</string>
                <key>sourceSize</key>
                <string>{169,54}</string>
            </dict>
            <key>tip_lkqblq_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{169,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,54}}</string>
                <key>sourceSize</key>
                <string>{169,54}</string>
            </dict>
            <key>tip_lyzr_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,58},{140,115}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{140,115}}</string>
                <key>sourceSize</key>
                <string>{188,123}</string>
            </dict>
            <key>tip_playerData.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,511}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{580,511}}</string>
                <key>sourceSize</key>
                <string>{580,511}</string>
            </dict>
            <key>tip_redtaskoff_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,49},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>tip_redtaskoff_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{77,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,45}}</string>
                <key>sourceSize</key>
                <string>{77,45}</string>
            </dict>
            <key>tip_swdh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,159},{134,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,54}}</string>
                <key>sourceSize</key>
                <string>{134,56}</string>
            </dict>
            <key>tip_tjzr_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,58},{142,109}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,14},{142,109}}</string>
                <key>sourceSize</key>
                <string>{188,123}</string>
            </dict>
            <key>tip_xhg_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,58},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>tip_xxjy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,232},{100,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{100,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
            <key>tip_xxjy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,231},{100,87}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{100,87}}</string>
                <key>sourceSize</key>
                <string>{110,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tipx2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:beab1d09a434b4774887a8c6eae7606a$</string>
            <key>textureFileName</key>
            <string>tipx2.png</string>
        </dict>
    </dict>
</plist>
