<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tip_bestGoods.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{363,194}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{363,194}}</string>
                <key>sourceSize</key>
                <string>{367,194}</string>
            </dict>
            <key>tip_cjjl_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,83},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_cjjl_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_cz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,684},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_cz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,612},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_ddjns_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,570},{363,194}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{363,194}}</string>
                <key>sourceSize</key>
                <string>{367,194}</string>
            </dict>
            <key>tip_fight_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,540},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_fight_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,468},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_fml_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,488},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_fml_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,407},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_goset_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,396},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_goset_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,324},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_hqry_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,326},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_hqry_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,245},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_jxsy_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,913},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_jxsy_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,841},{148,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{148,70}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>tip_newinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{353,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,173}}</string>
                <key>sourceSize</key>
                <string>{353,173}</string>
            </dict>
            <key>tip_playerData1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{446,54}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{446,54}}</string>
                <key>sourceSize</key>
                <string>{470,70}</string>
            </dict>
            <key>tip_qwcz_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,164},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_qwcz_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,83},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_scgm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,841},{221,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,81}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_scgm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,766},{221,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,81}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_sdgm_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_sdgm_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,930},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_sytld_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,244},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tip_sytld_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,164},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>tip_tgboxReward.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,766},{380,73}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{380,73}}</string>
                <key>sourceSize</key>
                <string>{380,75}</string>
            </dict>
            <key>tip_zbzh_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,924},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_zbzh_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,849},{217,79}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,79}}</string>
                <key>sourceSize</key>
                <string>{223,81}</string>
            </dict>
            <key>tip_zdl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{580,566}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{580,566}}</string>
                <key>sourceSize</key>
                <string>{580,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tipx1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e11bea53fb855883b629f207151ddc0$</string>
            <key>textureFileName</key>
            <string>tipx1.png</string>
        </dict>
    </dict>
</plist>
