<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_jjzs_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{323,87}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{323,87}}</string>
                <key>sourceSize</key>
                <string>{329,87}</string>
            </dict>
            <key>activity_jjzsjs_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{377,117}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{377,117}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>activity_jjzsks_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,278},{377,145}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,145}}</string>
                <key>sourceSize</key>
                <string>{385,153}</string>
            </dict>
            <key>rewardactivity_Xtx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,42},{445,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,87}}</string>
                <key>sourceSize</key>
                <string>{445,87}</string>
            </dict>
            <key>rewardactivity_Xtx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,425},{377,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,113}}</string>
                <key>sourceSize</key>
                <string>{377,113}</string>
            </dict>
            <key>rewardactivity_Xtx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,607},{198,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,58}}</string>
                <key>sourceSize</key>
                <string>{198,58}</string>
            </dict>
            <key>rewardactivity_Xtx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,131},{127,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,28}}</string>
                <key>sourceSize</key>
                <string>{127,28}</string>
            </dict>
            <key>rewardactivity_Xtx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,131},{377,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,145}}</string>
                <key>sourceSize</key>
                <string>{377,145}</string>
            </dict>
            <key>rewardactivity_Xtx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,607},{200,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,76}}</string>
                <key>sourceSize</key>
                <string>{200,76}</string>
            </dict>
            <key>rewardactivity_Xtx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,607},{200,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,36}}</string>
                <key>sourceSize</key>
                <string>{200,36}</string>
            </dict>
            <key>rewardactivity_Xtx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{466,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{466,38}}</string>
                <key>sourceSize</key>
                <string>{466,38}</string>
            </dict>
            <key>rewardactivity_Xtx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{374,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{374,38}}</string>
                <key>sourceSize</key>
                <string>{374,38}</string>
            </dict>
            <key>rewardactivity_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{510,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,117}}</string>
                <key>sourceSize</key>
                <string>{510,117}</string>
            </dict>
            <key>rewardactivity_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{510,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,117}}</string>
                <key>sourceSize</key>
                <string>{510,117}</string>
            </dict>
            <key>rewardactivity_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,540},{286,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,94}}</string>
                <key>sourceSize</key>
                <string>{286,94}</string>
            </dict>
            <key>rewardactivity_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>rewardactivity_bg_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{510,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,117}}</string>
                <key>sourceSize</key>
                <string>{510,117}</string>
            </dict>
            <key>rewardactivity_cjhd_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,516},{243,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,89}</string>
            </dict>
            <key>rewardactivity_cjhd_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,425},{243,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,89}}</string>
                <key>sourceSize</key>
                <string>{243,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ybxs.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd4e147572ca8fca5a25bfbc6a01c95f$</string>
            <key>textureFileName</key>
            <string>ybxs.png</string>
        </dict>
    </dict>
</plist>
